{% extends 'layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block text_title %}
{{ title }}!
{% endblock %}

{% block body %}
Donec nec molestie mauris. Suspendisse id facilisis lectus, sit amet cursus enim.
Fusce sodales, enim sit amet eleifend convallis, ipsum libero tempus mauris, sit amet pellentesque enim diam non lorem.
Praesent finibus ipsum eu pellentesque rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
cubilia curae; Maecenas eget eleifend dui. Proin sodales ultrices tempor. Vestibulum ante ipsum primis in faucibus orci
luctus et ultrices posuere cubilia curae; Sed orci ipsum, sagittis sed luctus a, pretium id est. Suspendisse potenti.
Donec nibh tortor, pretium ac justo vitae, elementum efficitur dolor. Aliquam erat volutpat. Nullam hendrerit leo et
consectetur hendrerit. Praesent egestas elit ac sagittis pharetra. Morbi finibus nulla at odio pharetra pellentesque.
  Proin tellus dolor, rhoncus quis nisl eget, porta luctus lacus.
{% endblock %}
