{% extends 'layout.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block text_title %}
{{ title }}!
{% endblock %}

{% block body %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta nisl mi, vitae auctor eros fringilla vel.
Fusce nec maximus diam. Proin elit urna, ultrices et velit et, eleifend pretium tortor. Sed maximus libero risus,
nec mollis risus hendrerit sit amet. Phasellus rutrum facilisis enim, a sagittis risus iaculis quis.
Donec pulvinar volutpat accumsan. Sed eget maximus orci. Donec ac dignissim sem. In semper condimentum massa.
Etiam a mollis quam. Donec ultrices ex arcu, nec vehicula augue malesuada at. Mauris rutrum eleifend sem faucibus lobortis.
Curabitur malesuada, nulla et egestas feugiat, ante nulla pellentesque dui, sit amet efficitur odio massa quis felis.
  Praesent commodo lectus id consectetur feugiat.
{% endblock %}
